@media (max-width: 575px) {
  .sm-column {
    flex-direction: column;
  }

  .add-Task-width {
    width: 80vw;
  }

  .flex-media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .navbar-border {
    border-left: none;
  }
}
