* {
  margin: 0;
  padding: 0;
}

/*All Colors*/

.bg-grey {
  background-color: rgb(244, 243, 251) !important;
}

.main-color {
  color: #2a3c95;
}

.main-bg-color {
  background-color: #1e3190;
}

.green {
  background: linear-gradient(-135deg, #608a32 14px, transparent 0);
  overflow: hidden;
}

.yellow {
  background: linear-gradient(-135deg, #eac910 14px, transparent 0);
  overflow: hidden;
}

.red {
  background: linear-gradient(-135deg, #e83b3b 14px, transparent 0);
  overflow: hidden;
}

.green-modal {
  background: linear-gradient(-135deg, #608a32 3.4%, transparent 0);
  overflow: hidden;
  border-radius: 0.5rem;
}

.yellow-modal {
  background: linear-gradient(-135deg, #eac910 3.4%, transparent 0);
  overflow: hidden;
  border-radius: 0.5rem;
}

.red-modal {
  background: linear-gradient(-135deg, #e83b3b 3.4%, transparent 0);
  overflow: hidden;
  border-radius: 0.5rem;
}

input.form-control::placeholder {
  opacity: 1;
  color: #d0d0d0;
}

.z-index-99 {
  z-index: 99;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  font-family: 'PT Sans', sans-serif;
  touch-action: none !important;
}

.vh-70 {
  max-height: 70vh !important;
}

/*Bitte nicht löschen. Wird benötigt für Backlog scrollen .phil*/

/*------------------------------------------------------------------------------------*/
/* The whole app window (background) with incl. the navbar and the content / sub page */

.app-window {
  background: rgb(255, 255, 255);
  max-width: 100vw !important;
  max-height: 100vh !important;
  position: fixed !important;
  top: 0 !important;
  /* later to delete */
  /* border: 3px solid red !important; */
}

/*--------------------------------*/
/* The navbar with its components */

.z-index-100 {
  z-index: 100 !important;
}

.logo {
  height: 66px;
}

.navbar-border {
  border-left: 8px solid transparent;
}

.navbar-nav a:hover {
  color: white !important;
  border-left: 8px solid white;
  margin-left: -8px;
}

.navbar a:hover {
  color: rgb(255, 255, 255) !important;
}

.you-are-here {
  color: white !important;
  border-left: white;
  border-left: 8px solid white;
  margin-left: -8px;
}

.avatar-board img {
  height: 68px;
  width: 68px;
  object-fit: cover;
}

/*-------------------------*/
/* Board Column Task Item  */

/* Allow scrolling of board kanban column */
.board-border {
  border: 1px rgb(203, 203, 203) solid;
}

.board-column {
  overflow-y: auto;
  overflow-y: overlay;
}

.column-name {
  line-height: 40px;
  font-size: 25px;
}

.drag-area-highlight {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hiddenScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hiddenScrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.card-title {
  /* TO DO: Ellipsis for only second line, if the title is longer than to card title lines */
  font-size: 1rem;
  height: 48px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* The size of the date in the task item bottom and preventing of wraping.  */
.card span {
  font-size: 0.85rem;
  white-space: nowrap;
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.176);
}

/* The size of the avatar in task item */
.cardAssignedTo img {
  width: 40px;
  height: 40px;
  background-color: rgb(162, 154, 154) !important;
}

/*------------------------------------------------------------------------------------ */
/* Style for a selected task item from board kanban column in dialog window (bs-modal) */
.modal {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.modal-backdrop {
  background-color: unset !important;
  width: 0px !important;
}

.modal-content .card-title {
  height: unset;
}

.modal-content textarea {
  resize: none;
}

.date-container {
  max-width: 116px;
}

.date-container input {
  border-width: 1px;
}

/* A select drop down user list based and modified on rules from the all task sub page */
.modalAssignedUser {
  min-height: 68px;
}

.assigendToImg {
  height: 60px !important;
  width: 60px !important;
}

.modal-user-collection {
  position: absolute !important;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 156px;
  width: 83px;
  background-color: rgb(211, 209, 209);
}

.assignedToContainer #user {
  bottom: 0;
  width: 100px;
}

.modal-avatar-container-open {
  position: absolute !important;
  display: flex;
  flex-direction: column-reverse;
  background-color: rgb(181, 186, 191);
  max-height: 234px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 22px;
}

/*-------------------------------------------------------------------------*/
/* Board kanban columns in a sliding carousel style under bs-sm-breakpoint */
.carousel-control-next,
.carousel-control-prev {
  color: black;
  position: unset;
  width: 30px;
  margin-top: 44px;
  background-color: rgba(33, 46, 141, 0.268) !important;
  opacity: 1 !important;
  z-index: unset;
}

.carousel-control-name {
  font-size: 0.65rem !important;
  height: 60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-bottom: 60px;
}

.carousel-control-next:focus,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-prev:hover {
  opacity: 1 !important;
}

/* Highlight the slide column button (prev or next) on click or on drag under bs-sm-break point  */
.highlight-carousel-control {
  opacity: 1 !important;
  background-color: #2a3c95 !important;
}

.carousel-item {
  padding: 8px;
  transition: all 400ms ease !important;
  /* The speed of carousel sliding */
}

.carousel-indicators button {
  background-color: white !important;
  border: 1px solid rgb(138, 138, 138) !important;
  height: 6px !important;
}

.carousel-indicators [data-bs-target] {
  margin: 4px;
  width: 24px;
}

.carousel-indicators .active {
  background-color: #2a3c95 !important;
  border-color: #2a3c95 !important;
  border-radius: 0px !important;
}

/*---------------*/
/* Add Task CSS */

.font {
  font-family: 'PT Sans', sans-serif;
}

.user-show {
  height: 65px;
  width: 65px;
  object-fit: contain;
  border: 3px solid white !important;
  background-color: rgb(162, 154, 154) !important;
}

.user-selected {
  opacity: 1;
  border: 3px #0d6efd solid !important;
  display: unset !important;
}

.bs-simple {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.clear-button:focus {
  box-shadow: none !important;
}

.buttons-Task input {
  min-width: 100px;
}

/*  BACKLOG  */

.max-height-100 {
  max-height: 100px;
}

.width-150 {
  width: 150px;
}

.category-task {
  width: 10px;
  border-top-left-radius: 10px 10px;
  border-bottom-left-radius: 10px 10px;
}

/*Check Button only*/
.succes-arrow {
  position: fixed;
  width: auto;
  padding: 12px;
  right: 4vw;
  bottom: 4vw;
}

.safe-color {
  font-weight: bold;
  margin-bottom: -12px;
}

/* Hide scrollbar for Chrome,Safari and Opera  */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.today-date {
  font-size: 0.75rem !important;
}

/* Login */

.login-bg {
  background: #1e3190;
  animation: pulse 2s linear infinite alternate;
}

.login-card {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  animation: pulse 1.5s ease-out infinite alternate;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
  }
  100% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  }
}
