@media only screen and (max-width: 767.8px) {
  .you-are-here {
    border-left: none;
    margin-left: 0px;
  }
  .navbar-nav a:hover {
    border-left: none;
    border-bottom: transparent;
    margin-left: 0px;
  }

  .logo {
    height: 40px;
  }

  .avatar-board {
    position: absolute;
    width: fit-content;
    top: 0;
    left: 0;
    right: 0;
    border: 2px transparent !important;
  }

  .avatar-board img {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 575px) {
  .sm-column {
    flex-direction: column;
  }
  .add-Task-width {
    width: 80vw;
  }
  .flex-media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 576px) {
  .all {
    all: unset;
  }
  .carousel-item {
    width: 23% !important;
    padding: 8px;
  }
}

@media (max-width: 575px) {
  .carousel-inner {
    width: calc(100% - 128px) !important;
  }

  .width-150 {
    width: 100%;
  }
}
