body {
    /* default setting in the css style https://webkit.org/blog/7929/designing-websites-for-iphone-x/ */
    height: 10000px;

    /* heigt of the body should be 100 vh */
    height: 100vh !important;
    /* margin at the body has to be like in the user agent style sheet, it means; 8px. Otherwise it does not work.  */
    margin: revert !important;
    background-color: red;
}

@media (max-width: 575px) {
    body {
        /* Should be the same color like the safe area not to see the color differance when the height of the safe area div increase after scrolling up / scrolling away the search bar. */
        background-color: rgb(187, 251, 198) !important;
    }
}

#safeArea {
    /* default setting in the css style https://webkit.org/blog/7929/designing-websites-for-iphone-x/ */
    /* at default state !important to see at the beginning the safe area --> in project use your custom background-color */
    background-color: rgb(187, 251, 198) !important;
    /* my default setting */
    background-color: unset;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: constant(safe-area-inset-top);
    top: env(safe-area-inset-top);
    left: constant(safe-area-inset-left);
    left: env(safe-area-inset-left);
    right: constant(safe-area-inset-right);
    right: env(safe-area-inset-right);
    bottom: constant(safe-area-inset-bottom);
    bottom: env(safe-area-inset-bottom);

    border: 5px solid yellow;
}